<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula</title>
</head>
<body>
    <div layout:fragment="conteudo">
            <p>pagina do index</p>


             <a href="pag_monitoramento.html" th:href="@{/monitoramento}">
                Acessar monitoramento
                </a>

                <br>

                  <a href="pag_historico.html" th:href="@{/historico}">
                Acessar histórico
                </a>
        
    </div>
    
</body>
</html>