<!DOCTYPE html>
<html lang="pt" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{template.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula</title>
</head>

<body>
    <div layout:fragment="conteudo">

        <p> Conteúdo do monitoramento </p>

        <p th:text="${item.dataHora}"> </p>
        <p th:text="${item.umidade}"> </p>
        <p th:text="${item.irrigacaoLigada}"> </p>


        <br>
        <a href="index.html" th:href="@{/index}">Voltar </a>
    </div>



</body>

</html>